---
/* src/pages/admin.astro */
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lograry CMS</title>
    <link href="/admin/config.yml" type="text/yaml" rel="shortcut config" />
  </head>
  <body>
    <script is:inline src="https://unpkg.com/@sveltia/cms@latest/dist/sveltia-cms.js"></script>
  </body>
</html>
