---
import BaseLayout from '../layouts/base.astro';
import { getCollection } from 'astro:content';
const allBooks = await getCollection('books');
const stats = { total: allBooks.length };
const sortedBooks = allBooks.sort((a, b) => a.data.sort_title.localeCompare(b.data.sort_title));
---

<BaseLayout title="My Library">
  <h1>My Library</h1>

  <p class="book-count">
    Showing <strong>{allBooks.length}</strong> titles in your library.
  </p>

  <ul class="card-grid">
    {sortedBooks.map(book => (
    <li class={[
      "card",
      "flow",
      book.data.shelf
    ].join(' ')}>
      <p><strong set:html={book.data.title} />
      {book.data.author &&
      <span class="author">by {book.data.author.join(', ')}</span>}</p>

      <p><small
        >Status: {book.data.shelf} | Owned: {book.data.owned ? '✅' :
        '❌'}</small
      ></p>
    </li>
    ))}
  </ul>
</BaseLayout>
