---
import BaseLayout from '@layouts/base.astro';
import YearlyGraph from '@components/YearlyGraph.astro';
import MediaList from '@components/MediaList.astro';
import { getCollection } from 'astro:content';
const allBooks = await getCollection('books');
const stats = { total: allBooks.length };
---

<BaseLayout title="My Library">
  <h1>My Dashboard</h1>

  <!--<a href="/archive/">View by years</a>-->

  <section class="flow">
    <header>
      <h2>Books</h2>
      <a href="/all-books">View all books ({stats.total})</a>
    </header>
    <YearlyGraph data={allBooks.filter(b => b.data.shelf === 'read')} />
    <MediaList items={allBooks.filter(b => b.data.shelf === 'read' && b.data.end_date).sort((a, b) => new Date(b.data.end_date).getTime() - new Date(a.data.end_date).getTime()).slice(0, 12)} />
  </section>
</BaseLayout>
